<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="appsettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="dbconnection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="dbadoconnection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="dbconnectionHistory" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="SpecialCharacter" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="AccountSplit" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="InBoundParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="Archival" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="IBankParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="STPParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7c307b91aa13d208" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.2" newVersion="9.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="ZW" connectionString="Persist Security Info=True;Database=ZWOPAL;User ID=zwopalap;Password=zwopalap12;Location=10.193.105.208:50040;DataSource=ZWOPAL;Pooling=true;Min Pool Size=30;Max Pool Size=40;CurrentSchema=db2inst1" />-->

    <add name="TZ" connectionString="pDatabase=TZOPAL;User ID=tzopalap;Password=tzopalap12;Server=10.193.105.208:50030;Connection Reset=false;Min Pool Size=25;Max Pool Size=130;Pooling=true;CurrentSchema=DB2INST1"/>
    <add name="BW" connectionString="Database=BWOPUT;User ID=bwopalap;Password=pass123;Server=10.206.66.32:50002;Connection Reset=true;Max Pool Size=60;Pooling=true;CurrentSchema=db2inst1"/>
    <add name="KE" connectionString="Database=KEOPAL;User ID=keopalap;Password=keopalap12;Server=10.193.105.208:50000;Max Pool Size=20;Pooling=true;CurrentSchema=db2inst1"/>
    <add name="UG" connectionString="Database=UGOPUT;User ID=ugopalap;Password=ugopalap12;Server=10.206.66.32:50002;Max Pool Size=20;Pooling=true;CurrentSchema=db2inst1"/>
   <add name="ZW" connectionString="Database=ZWOPAL;User ID=zwopalap;Password=zwopalap12;Server=10.193.105.208:50040;Connection Reset=true;Max Pool Size=20;Pooling=true;CurrentSchema=db2inst1"/>
    <add name="ZM" connectionString="Database=ZMOPAL;User ID=zmopalap;Password=zmopalap12;Server=10.193.105.208:50020;Connection Reset=true;Max Pool Size=60;Pooling=true;CurrentSchema=db2inst1"/>
  </connectionStrings>
  
  <appSettings>
    <add key="SUBBALENQ_CHGCD" value= "&lt;chrgcd&gt;STDU&lt;/chrgcd&gt;" />
    <add key="SQLFilePath" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController\XML\OPALDBQUERIES.xml"/>
    <add key="TAGSOURCEPATH" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController\XML\"/>
    <add key="MT103" value="Tag103Base.xml"/>
    <add key="MT102" value="Tag102Base.xml"/>
    <add key="MT202" value="Tag202Base.xml"/>
    <add key="MT101" value="Tag101Base.xml"/>
    <add key="FBSBRANCHCD" value=""/>
    <add key="MT191" value="Tag191Base.xml"/>
    <add key="MT940" value="Tag940Base.xml"/>
    <add key="MT950" value="Tag940Base.xml"/>
    <add key="MOVEREJECTTOMANUAL" value="Y"/>
    <add key="REJECTPRODOUCTS" value="SB,DC"/>
    <add key="REJECTREASONS" value="INSUFFICIENT FUNDS,SYSTEM FAILURE"/>
    <add key="COUNTRYCD" value="TZ"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <!-- <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      <add name="IBM DB2 .NET Data Provider" invariant="IBM.Data.DB2" description="IBM DB2 Data Provider for .NET Framework 2.0" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
      <add name="IBM Informix .NET Data Provider" invariant="IBM.Data.Informix" description="IBM Informix Data Provider for .NET Framework 2.0" type="IBM.Data.Informix.IfxFactory, IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
      <add name="IBM DB2 .NET Data Provider 9.7.1" invariant="IBM.Data.DB2.9.7.1" description="IBM DB2 Data Provider 9.7.1 for .NET Framework 2.0" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2.9.7.1, Version=9.7.1.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
      <add name="IBM Informix .NET Data Provider 9.7.1" invariant="IBM.Data.Informix.9.7.1" description="IBM Informix Data Provider 9.7.1 for .NET Framework 2.0" type="IBM.Data.Informix.IfxFactory, IBM.Data.Informix.9.7.1, Version=9.7.1.2, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    </DbProviderFactories>
  </system.data>

  <system.web>
    <httpRuntime requestValidationMode ="2.0"/>
    <!--<httpModules>
      <remove name="FormsAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="Session" />
    </httpModules>-->
    <pages enableViewState="false"/>
    <!--<httpModules> 
      <add name="Security" type="Security.RefererFilter,Security"/> 
    </httpModules> -->
    <!-- 
Package Collection=MyPkgCol;
"DSN=AENCS;pwd=scb123;uid=db2inst4;CurrentSchema=db2inst1;"
-->
    <SpecialCharacter>
      <!--
    Tab            -  %09
    Space          -  %20
    Semicolon        -  %3b
    Slash          -  %2f
    Question Mark      -  %3f
    Colon          -  %3a
    At Sign          -  %40
    Equal Sign        -  %3d
    Ampersand        -  %26
    Less Than Sign      -  %3c
    Greater Than Sign    -  %3e
    Double Quotation Mark  -  %22
    Hash Mark        -  %23
    Percent Sign      -  %25
    Left Curly Brace    -  %7b
    Right Curly Brace    -  %7d
    Vertical Bar      -  %7c
    Backslash        -  %5c
    Caret          -  %5e
    Tilde*          -  %7e
    Left Square Bracket    -  %5b
    Right Square Bracket  -  %5d
    Grave Accent      -  %60

  !-->
      <add key="%09" value="%09"/>
      <add key="%20" value="%20"/>
      <add key="%3b" value="%3b"/>
      <add key="%2f" value="%2f"/>
      <add key="%3f" value="%3f"/>
      <add key="%3a" value="%3a"/>
      <add key="%40" value="%40"/>
      <add key="%3d" value="%3d"/>
      <add key="%26" value="%26"/>
      <add key="%3c" value="%3c"/>
      <add key="%3e" value="%3e"/>
      <add key="%22" value="%22"/>
      <add key="%23" value="%23"/>
      <add key="%25" value="%25"/>
      <add key="%7b" value="%7b"/>
      <add key="%7d" value="%7d"/>
      <add key="%7c" value="%7c"/>
      <add key="%5c" value="%5c"/>
      <add key="%5e" value="%5e"/>
      <add key="%7e" value="%7e"/>
      <add key="%5b" value="%5b"/>
      <add key="%5d" value="%5d"/>
      <add key="%60" value="%60"/>
      <add key="%az" value="%az"/>
      <add key="%ez" value="%ez"/>
    </SpecialCharacter>
    <AccountSplit>
      <add key="ACCOUNTLEN" value="10"/>
      <add key="ACCOUNTSPLIT" value="4,10"/>
      <add key="TRNREFLEN" value="19"/>
      <add key="TRNREFSPLIT" value="5,7,3,3"/>
    </AccountSplit>
    <Archival>
      <add key="ARCHIVALDURATION" value="11"/>
    </Archival>
    <IBankParams>
      <add key="TEMPLATEPATH" value="C:\P02OPAL\P02OPALController\IBResponseXML"/>
      <add key="UNIT" value="SCB"/>
    </IBankParams>
    <STPParams>
      <add key="STPXMLPATH" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController\XML\STPRequestResponse.xml"/>
      <add key="INPUTMODE" value="SYNC"/>
      <add key="CODE" value="PAY"/>
      <add key="CHANNEL" value="SWIFT"/>
      <add key="TPSSYSTEMCODE" value="dotOpal"/>
      <add key="TPSSYSTEMDESC" value="Opal Payments"/>
      <add key="CDATAFormat" value="NVP"/>
      <add key="AttemptVersion" value="1"/>
      <add key="Mode" value="SINGLE"/>
      <add key="Encrypted" value="N"/>
      <add key="Compress" value="N"/>
      <add key="TxnType" value="ITT"/>
      <add key="Disposal" value="CO"/>
      <add key="RouteToRepair" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/RouteToRepair"/>
      <add key="StpMsgRefNo" value="MessageContainer/MessageHeader/MessageAttributes/StpMsgRefNo"/>
      <add key="STPExceptionCd" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPExceptionList/STPExceptionDetails/STPExceptionCd"/>
      <add key="STPExceptionDesc" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPExceptionList/STPExceptionDesc"/>
      <add key="STPBatchRefno" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/attribute::refNo"/>
      <add key="TPPBatchRefno" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/attribute::refNo"/>
      <add key="STPTxnRefno" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/attribute::refNo"/>
      <add key="TPPymtRefno" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/attribute::refNo"/>
      <add key="STPEnriched" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPEnriched"/>
      <add key="STPCandidateBefore" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPCandidateBefore"/>
      <add key="STPCandidateAfter" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPCandidateAfter"/>
      <add key="EnrichCodeList" value="MessageContainer/STPEnrichInfo/STPBatchInfo/STPBatchReference/TPBatchRef/STPTxnRef/TPPymtRef/STPModifiedList/EnrichCodeList"/>
      <add key="CData" value="MessageContainer/TXNMessage"/>
      <add key="INCLUSIVE" value="I"/>
    </STPParams>
    <InBoundParams>
      <add key="LDAPPATH" value="LDAP://10.144.220.33:389/l=dubai,c=UAE,ou=mesa,o=scb"/>
      <add key="DNPATH" value="l=dubai,c=UAE,ou=mesa,o=scb"/>
      <add key="CHANNELNAME" value="DOTOPAL.SVRCONN"/>
      <add key="HOSTIP" value="10.144.222.135"/>
      <add key="PORT" value="1414"/>
      <add key="QUEUEMANAGERNAME" value="QM_SWIFTMESA"/>
      <add key="RECEIVEQUEUENAME" value="AE.OPAL.MQSA.IN.ENC"/>
      <add key="SENDQUEUENAME" value="AE.OPAL.MQSA.OUT.ENC"/>
      <add key="CTRY_NAME" value="Nigeria"/>
      <add key="UNIT" value="SCB"/>
      <add key="CTRYID" value="TZ"/>
      <add key="TREASURY" value="27"/>
      <add key="FAX_PRINTER_NAME" value="HPFax"/>
      <add key="SNA_CONNECT_STRING" value="3004"/>
      <add key="LOGPATHMQ" value="C:\Eventlog"/>
      <add key="APPERRLOGPATH" value="C:\Eventlog"/>
      <add key="AUTOAPPROVAL" value="1"/>
      <add key="BANKTOBANK" value="1"/>
      <add key="AUTOSETTLE" value="TRUE"/>
      <add key="TIMERINTERVAL" value="5000"/>
      <add key="GBUFFERLENGTH" value="4194304"/>
      <add key="GPUBLICKEY" value="C:\Apps\Opal\mqsa\in\public.key"/>
      <add key="GPRIVATEKEY" value="C:\Apps\Opal\mqsa\in\private.key"/>
      <add key="APPPATH" value="C:\P02OPAL\InBoundMessage\Components\"/>
      <add key="LOGPATH" value="C:\P02OPAL\InBoundMessage\Log"/>
      <!-- P02 Changes To Check Account Number Length -->
      <add key="ACCOUNTLEN" value="10"/>
      <!-- P02 Changes To Check STP RESTRICT FOR THE CUSTOMER IS REQUIRED OR NOT VALUE=YES/NO -->
      <add key="STPRESTRICTCUST" value="YES"/>
      <!-- P02 Changes To Check STP RESTRICT FOR THE BANK IS REQUIRED OR NOT VALUE=YES/NO -->
      <add key="STPRESTRICTBANK" value="YES"/>
      <!-- P02 Changes To Check Account Number Length -->
      <add key="DECRYPT" value="NO"/>
      <!-- das prakash -->
      <add key="STPMAXAMOUNT" value="10000" />
      <add key="STPCURRENCY" value="USD,GBP" />
      <add key="CHINASTPCOND" value="N"/>
      <add key="CHKSTPCOND" value="Y"/>
      <add key="CHKTAG86" value="N"/>
      <add key="MAXACLEN" value="13"/>
      <add key="MT101MsgBlkEnd" value=":21:"/>
      <add key="MT101MsgSplitChr" value=":21:"/>
      <add key="MT101" value="Tag101Base.xml"/>
      <add key="UAESTPCOND" value="N"/>
      <add key="UAE_STP_59AcctValid" value="N"/>
      <add key="TRADETRXN" value="EC0,ECY,CB0,COY,LC0,LCY,EX0,EXY,CG0"/>
      <add key="RegExXmlPath" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController\XML\Tag103Base.xml"/>
      <add key="BENEACCTLEN" value="0"/>
      <add key="VirtualAcEnabled" value="Y"/>
    </InBoundParams>
    <appsettings>
      <add key="SUBBALENQ_CHGCD" value= "&lt;chrgcd&gt;STDU&lt;/chrgcd&gt;" />
      <add key="MOVEREJECTTOMANUAL" value="Y"/>
      <add key="REJECTPRODOUCTS" value="SB,DC"/>
      <add key="REJECTREASONS" value="INSUFFICIENT FUNDS,SYSTEM FAILURE"/>
      <add key="CORRESPONDENTCHECK" value="N"/>
      <add key="THRESHOLDCHK" value="Y"/>
      <add key="STPCURRENCY" value="*"/>
      <add key="T59CCYVALIDATION" value="Y"/>
      <add key="STPCOUNTRYCHK" value="Y"/>
      <add key="CHECKRTGS" value="N"/>
      <add key="MT101STPREQ" value="N"/>
      <add key="MT103STPREQ" value="Y"/>
      <add key="MT202STPREQ" value="N"/>
      <add key="Validate72Tag" value="N"/>
      <add key="CheckSOPNLExchAmt" value="N"/>
      <add key="StopPaymentChecking" value="N"/>
      <add key="CustSegmentCode" value="0000"/>
      <add key="MaxLengthOnLine" value="50"/>
      <add key="CheckPNLExchAmt" value="N"/>
      <add key="STPRestrict" value="N"/>
      <add key="NEFTDOWNLOAD" value="Y"/>
      <add key="ResourceDLL" value="C:\inetpub\wwwroot\ncs\bin\NCS.EN.Resources.dll"/>
      <add key="BaseName" value="en"/>
      <add key="DateFormat" value="D/M/Y"/>
      <add key="LogPath" value="C:\App_Logs\OPAL\Logs"/>
      <add key="AppPath" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController"/>
      <add key="LDAPPath" value="LDAP://10.144.220.33:389/c=UAE,ou=mesa,o=scb"/>
      <add key="DNPath" value="l=dubai,c=UAE,ou=mesa,o=scb"/>
      <add key="CurrentSchema" value="DB2INST1"/>
      <add key="HistorySchema" value="OPALHIST"/>
      <add key="BRANCHWISE" value="YES"/>
      <add key="DownloadPath" value="C:\DownloadedFiles"/>
      <add key="BackupPath" value="C:\DownloadedFiles\Backup"/>
      <add key="BlacklistPath" value="C:\Blacklist"/>
      <add key="APPERRLOGPATH" value="C:\Eventlog"/>
      <add key="BlacklistFile" value="STEXCUP21072005 A.CSV"/>
      <add key="TelecodesPath" value="C:\Telecodes"/>
      <add key="TelecodesFile" value="telecodes.txt"/>
      <add key="APPERRLOGPATH" value="C:\Eventlog"/>
      <add key="IncomingPaymentFile" value="INCOMINGPAYMENTDETAILS"/>
      <add key="OutgoingPaymentFile" value="OUTGOINGPAYMENTDETAILS"/>
      <add key="InwardPaymentFile" value="INWARDPAYMENTDETAILS"/>
      <add key="OutwardPaymentFile" value="OUTWARDPAYMENTDETAILS"/>
      <add key="LocalITTPaymentFile" value="LOCALPAYMENTDETAILS_ITT"/>
      <add key="LocalOTTPaymentFile" value="LOCALPAYMENTDETAILS_OTT"/>
      <add key="OutwardTelexTransfer" value="OUTWARD"/>
      <add key="InwardTelexTransfer" value="INWARD"/>
      <!-- DAS PRAKASH -->
      <add key="OTTSupressFlag" value="N"/>
      <add key="ITTSupressFlag" value="N"/>
      <add key="STSACCOUNTLENGTH" value="10"/>
      <add key="ACCOUNTLEN" value="10"/>
      <add key="ACNOSTARTPOSITION" value="25"/>
      <add key="MarginRateRequired" value="Y"/>
      <add key="SETPROCESSDT" value="1"/>
      <add key="BENNAMECHECK" value="Y"/>
      <add key="CHKALLRISK" value="Y"/>
      <add key="TAG57CHECK" value="Y"/>
      <add key="ROUND_AMOUNT" value="A"/>
      <add key="CURRWISEROUNDOFF" value="N"/>
      <add key="FMSDOWNLOAD" value="N"/>
      <add key="IsPNLRequired" value="N"/>
      <add key="CITYNAME" value="GABORONE"/>
      <add key="TIMEZONEUTILITYXML" value="UTCTIMEDIFFCITIES.xml"/>
      <add key="TIMEZONEMUST" value="N"/>
      <add key="IsFTCREDITANDDEBITACCTSAME" value="Y"/>
      <add key="ICSTOPCHQ" value="Y"/>
      <add key="SEMT103Flag" value="1"/>
      <add key="SEMT202Flag" value="0"/>
      <add key="STSSTPRESTRICT" value="N"/>
      <add key="RTGSSWFTFLAG" value="S"/>
      <add key="FMSBNKWISEDWNLD" value="N"/>
      <add key="IsMT202RequiredForRTGSTRANSACTIONS" value="N"/>
      <add key="RTGS" value="N"/>
      <add key="trnLoginRefNoFlg" value="Y"/>
      <add key="CheckDualApp" value="Y"/>
      <add key="DefaultSTFlg" value="1"/>
      <add key="PrintNOCharsInDD" value="50"/>
      <add key="ITTAdvicePath" value="C:\TZ\EAdvice\ITTAdvice.pdf"/>
      <add key="OTTAdvicePath" value="C:\TZ\EAdvice\OTTAdvice.pdf"/>
      <add key="SMTPServer" value="172.31.172.12"/>
      <add key="ISPRINTITADVICE" value="N"/>
      <add key="ISPRINTOTADVICE" value="N"/>
      <add key="ISPRINTDDADVICE" value="Y"/>
      <add key="InverseRateRequired" value="N"/>
      <add key="CHEQUESLIPVALIDATION" value="N"/>
      <add key="IT2OTCHG" value="N"/>
      <add key="CPChargeFlag" value="N"/>
      <add key="RTGSCHG" value="N"/>
      <add key="INTERNALACNOREQ" value="N"/>
      <!--<add key="SMTPServer" value="10.128.7.250" />-->
      <add key="CORRADDPRINT" value="N"/>
      <add key="SMTPListener" value="Y"/>
      <add key="DCBrnchChk" value="Y"/>
      <add key="RegExXmlPath" value="C:\Users\1305874\Documents\Build19\Dotnet\Webservice\OPALController\XML\Tag103Base.xml"/>
      <add key="RSKATCHECKER" value="N"/>
      <add key="RESPACCNOWITHCURRCD" value="TRUE"/>
      <add key="STSBATCHRESPPATH" value="C:\TZ\STSTPS\STS\PCDIR.UPL"/>
      <add key="ISFMSFREQUENCYREQUIRED" value="N"/>
      <add key="CHECKREFERALRISK" value="N"/>
      <add key="CRFLAG" value="N"/>
      <add key="CUSTCDLEN" value="3,6"/>
      <add key="PERAGO" value="N"/>
      <add key="ENCRYPTION" value="N"/>
      <add key="PERAGOSTMPPATH" value="C:\TZ\RTGS\TEMP\"/>
      <add key="PERAGODOWNLOADPATH" value="C:\TZ\RTGS\"/>
      <add key="PERAGOBACKUPPATH" value="C:\TZ\RTGS\BKP\"/>
      <add key="PERAGOENCRYPTDOWNLPATH" value="C:\TZ\RTGS\ECYRTGS\"/>
      <add key="PERAGODelimitter" value="|"/>
      <add key="KEY_FILE_NAME" value="C:\P03TZOPAL\cryptokey.key"/>
      <add key="HOLDINGACNOBRNCH" value="00002"/>
      <add key="STSRTGSBICVALIDATION" value="N"/>
      <add key="STSRTGSMSGSUPPRESS" value="N"/>
      <add key="SOMAXTRY" value="3"/>
      <add key="SOMAXPERIODTRY" value="3"/>
      <add key="ARM_DIFCBRNCH" value=""/>
      <add key="ARMREQ" value="N"/>
      <add key="SYSRM" value="SYS"/>
      <add key="TRNDAYDIFF" value="3"/>
      <add key="TRNCANCEL" value="Transaction was cancelled as it was in the force post queue for more than 3 days"/>
      <add key="SMSEmailContent" value="TXNNO {[(TRNREFNO())]},Pls Note-TXN Pending Reason-Insuff Fund for This TXNAMT {C} {[(TRN_AMOUNT)]},Shortfall is {D} {[SHORT_AMOUNT]}. This Message is generated by the System"/>
      <add key="ISCALLBCK" value="N"/>
      <!-- SR9 and Dromos Release Tag Start -->
      <add key="ENABLERTFLAG" value="N"/>
      <add key="SR9ENABLED" value="Y"/>
      <add key="DROMOSENABLED" value="Y"/>
      <add key="MT202COV" value="COV"/>
      <add key="MT202COVREQ" value="Y"/>
      <add key="MT202SPLITCHAR" value="(?=:50(A|K|F):).....)"/>
      <add key="MT202COVSPLCHAR" value="COV"/>
      <add key="OBOTAGFORMAT" value="[1-8]/.+"/>
      <add key="OBOCNTRYTAGFORMAT" value="[3 5-7]/[A-Za-z][A-Za-z]/.+"/>
      <!-- SR9 and Dromos Release Tag END -->
      <add key="VirtualAcEnabled" value="Y"/>
      <add key="TRNGRPID" value=""/>
      <add key="TT_TRNWISE" value="N"/>
      <add key="STPENGINE" value="Y"/>
      <add key="STPBenNameCheck" value="Y"/>
      <add key="FEDWIRE" value="Y"/>
      <add key="CBDR" value="N"/>
      <add key="ACHBACKUPREQ" value="Y"/>
      <add key="STAutomation" value="Y"/>
      <add key="ISACHFCYENABLED" value="N"/>
      <add key="ENABLEMT202FOREOPSLOCALTXN" value="N"/>
      <add key="eOPS_Curr_HldyCutofftime_Chk" value="N"/>
      <!-- BBAN START-->
      <add key="FMSFILESPLIT" value="Y"/>
      <add key="FMSCURRSPLIT" value="N"/>
      <add key="FMSFILESIZE" value="40"/>
      <add key="BBANACCLENGTH" value="18"/>
      <add key="MARGINRATE" value="Y"/>
      <add key="CTRYID" value="TZ"/>
      <add key="ACH_MSGTYPE" value="21,22"/>
      <add key="MAKSWIFTSUP" value="N"/>
      <add key="APPBATCHSUP" value="N"/>
      <add key="APPSWIFTSUP" value="N"/>
      <add key="CHG_ENABLED_PRODUCT_FOR_BBAN" value="21"/>
      <add key="ENB_REPRES" value="Y"/>
      <add key="SORTCODELENGTHVARIATION" value="Y"/>
      <!-- BBAN END -->
      <!-- NIBSS START -->
      <add key="RDSRATESCHECK" value="N"/>
      <add key="ILTINXML" value="Y"/>
      <add key="OLTCHG_TRNCD" value="'000','000'"/>
      <add key="SENDERBANKCODE" value="068"/>
      <add key="NIP_ACCEPT_CHNL" value="1,2,3,4,5,6,7,8"/>
      <add key="OLTTRNAMT" value="1"/>
      <add key="HOLIDAYS" value="1,6,7"/>
      <add key="HOLIDAYCHECK" value="Y"/>
      <add key="VA_ENBL_V05SUBBALENQ" value="Y"/>
      <add key="SOHOLIDAYCHECK" value="Y"/>
      <add key="SOHOLIDAYS" value="1,7"/>
      <add key="INTCUTTOFFWINDOW" value="15:00"/>
      <add key="NIPCUTTOFFWINDOW" value="23:01"/>
      <add key="ICSTOPCHQ" value="N"/>
      <add key="NIPEngine_Com_Path" value="C:\P03TZOPAL\DotOpal_Service\SCB.DotOpal.NIPEngine.dll"/>
      <add key="NipNmEnqClassName" value="SCB.DotOpal.NIPEngine.NipCommunication"/>
      <add key="NIPEngine_MsgProcessClass_Path" value="SCB.DotOpal.NIPEngine.NIPMsgProcessing"/>
      <add key="NIP_NFSSM_HOST_IP" value="127.0.0.1"/>
      <add key="NIP_NFSSM_HOST_PORT" value="8088"/>
      <add key="NIP_URL" value="http://10.205.69.204:85/nfp/NFPBankInterface.jws"/>
      <add key="NIP_DECPSWD" value="Standard2k3"/>
      <add key="NIP_TIMEOUT" value="65000"/>
      <!-- NIBSS END -->
      <add key="ISDROMOSAMT" value="N"/>
      <add key="COUNTRYCD" value="TZ"/>
      <add key="CHECK_FTADVICE_FOR_ILT_POSTING" value="Y"/>
      <add key="NIBSSORDCUST" value="N"/>
      <add key="HOLIDAYCHECK_S2BNIP" value="Y"/>
      <!--<add key="BBANVALIDATION" value="N" />-->
      <add key="INT_TO_MANUAL_REPAIR" value="N"/>
      <add key="BENNAMEMATCH" value="Y"/>
      <add key="INT_REJ_BATCH_ENTRY_GENR" value="Y"/>
      <add key="STPMAXAMOUNT" value="10000" />
    </appsettings>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
      <customErrors mode="RemoteOnly" defaultRedirect="GenericError.htm" />
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <allow users="?"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="OPALController.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>